/*
    • All text on the pages should use a sans-serif font family.
    • The pages should be 1024 pixels wide, and be centered on the page, with equal margins 
      to the left and right.
*/
body {
    font-family: sans-serif;
    width: 1024px;
    justify-content: center;
    text-align: center;
    background-color: darkorange ;
}

body > main{
    grid-row: 1 / 2;
}

    header { /*Skapa ramar för header-elementen så man kan se vad vad man gör och vad som pågår*/
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        grid-gap: 10px;
        background-color: Blue;
        
    }

        header > ul {
            display: flex;
            list-style: none;            
            justify-content: left;
            align-items: center;
            margin: 0;
            padding: 0px;
        }

        header li {
            display: flex;
            float: left;
            padding-left: 20px;            
            /*text-align: unset;*/
        }

        header > li a {
            display: flex;            
            color: white;
            padding-left: 20px;
            /*text-decoration: none;*/
        }

        /*Header rubrik*/
        header > h1 { 
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: yellow;            
        }

        /*Header lista med länkar*/
        header > nav { 
            background-color: lightpink;
            
            justify-content: center;
            align-items: center;
            padding-bottom:20px;
        }

        /*Header växla mellan Home och Login*/
        header > a {             
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lawngreen;
        }

main {

}

aside {
    background-color: chartreuse;
    justify-content: center;
}
    aside ul {
        display: flex;
        list-style: none;
        justify-content: center;
    }    

    aside li {
        
    }
.aside {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
    footer{

}