/*
    • All text on the pages should use a sans-serif font family.
    • The pages should be 1024 pixels wide, and be centered on the page, with equal margins 
      to the left and right.
*/
html {
    font-family: sans-serif;
    max-width: 1024px;
    margin: auto;
}

body {
    /* Attempt 2  kanske inte funkar att göra en grid i en grid.
    display: grid;
    grid-template-areas: "2fr" "2fr" "2fr" "2fr"/ "2fr" "2fr" "2fr"; /*Skapar 4 rader / 3 kolumner i display:grid */
    /* Attempt 1
    width: 1024px;*/ */
    justify-content: center;
    text-align: center;
    background-color: darkorange;
}

/*  Attempt 2  kanske inte funkar att försöka göra en grid i en grid
body > header.header{
    grid-area: 1 / 1 / 5 /2;

}*/



header { /*Skapa ramar för header-elementen så man kan se vad vad man gör och vad som pågår*/
    display: grid;                          /*Grid skapar förutsättning för ett rutnät*/
    grid-template-columns: auto auto auto;  /*Konfigurerar rutnätet grid i kolumner, 3 auto ger 3 kolumner*/
    grid-gap: 10px;                         /*Bestämmer avståndet mellan kolumnerna i rutnätet*/
    padding: 10px;                          /*Sätter avståndet i ramen runt containern 'header' */
    background-color: Blue;                 /*Header backgrund blir blå*/
}

    header > ul {               /* enbart barnet 'ul' till föräldern 'header' som påverkas och inte barnbarn.*/
        display: flex;          /*Ordnar innehållet i containern 'ul' på en rad*/
        list-style: none;       /*Tar bort punkteringen för en osorterad lista*/
        justify-content: left;  /*Vänsterjustera vågrätt innehållet i containern ul*/
        align-items: center;    /*Centrera lodrätt innehållet i containerna ul*/
        margin: 0;              /*Tar bort marginalen som är yttersta lagret för containern*/
        padding: 0px;           /*Tar bort padding som är lagret precis utanför innehållet för containern*/
    }

    header li {             /* alla <li> inuti en <header> påverkas (ättling) */
        display: flex;      /*Ordnar innehållet i containern 'ul' på en rad */
        float: left;        /*Vänsterjustera 'li' i containern 'header' */
        padding-left: 20px; /*Varje 'li'-container får en vänster-padding */
    }

    header > li a {         /*enbart barnet 'li' till föräldern 'header' och <a> inuti <li>*/
        display: flex;      /*Ordnar innehållet i containern 'ul' på en rad */
        color: white;       /*Gör textfärgen vit*/
        padding-left: 20px; /*Varje 'a'-container får en vänster-padding (fast funkar inte just nu) */

        /*Överblivet från tidigare försök*/
        /*-------------------------------*/
        /*text-decoration: none;*/
    }

        /*Header rubrik*/
    header > h1 { /* alla <h1> inuti en <header> påverkas (ättling) */
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
    }

        /*Header lista med länkar*/
    header > nav { /* alla <nav> inuti en <header> påverkas (ättling) */
        background-color: lightpink;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

        /*Header växla mellan Home och Login*/
    header > a { /* alla <a> inuti en <header> påverkas (ättling) */
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background-color: lawngreen;
        width: none;
    }

    
main { /*Skapar ramar så man ser vad som händer */
    display: grid;                                                  /*Grid skapar förutsättning för ett rutnät*/
    grid-template-areas:  "1fr" "1fr" "1fr" / "1fr" "1fr" "1fr";    /*Skapar 3 rader / 3 kolumner i display:grid */    
     
    grid-gap: 10px;                                                 /*Bestämmer avståndet mellan kolumnerna i rutnätet*/
    padding: 10px;                                                  /*Sätter avståndet i ramen runt containern 'main' */
    background-color: hotpink;                                      /*Färga continern så man ser vad som händer.*/
}
    main * {
        background-color: yellow;
    }
    /*
    .h2-rubrik{
        grid-area: 1 / 1 / 2 / 2;
    }*/
    main > div {
        grid-area: 1 / 1 / 2 / 2;
    }

    /* Attempt 1
    main > h2 {
        grid-area: 1 / 1 / 2 / 2;       /*Placering på översta vänstra hörnet i 3x3 grid*/
        /*display: flex;
        justify-content: left;
        align-items:  normal;*/
        /*background-color: hotpink; /*För att se vad som är main > h1*//*
    }
    main > p {
        grid-area: 
        /*display: flex;*//*
        color: darkred;
        justify-content: left;
        align-items: normal;
        /*background-color: hotpink; /*Eftersom det hör ihop med main > h1*//*
    }
    */
    main > article.item3 { 
        grid-area: 2 / 1 / 3 / 2;       /*Placering av de två <articles> 2:a radens början till 2:a raden mitten i grid: 3x3 */
    }
    main > article.item4 {
        grid-area: 2 / 2 / 3 / 3; /*Placering av de två <articles> 2:a radens början till 2:a raden mitten i grid: 3x3 */
    }
    
    main > aside.asideClass{           /*Attempt 1*/
        grid-area: 1 / 3 / 4 / 4;
    }

aside {
    /*grid-area: 1 / 3 / 4 / 4;*/
    background-color: chartreuse;
    justify-content: center;
}
    aside ul {
        display: flex;
        list-style: none;
        justify-content: center;
    }    

    aside li {
        
    }
    /* Attempt 1 aside
.aside {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}*/
    footer{
        padding-bottom: 20px;
}