/*
    • All text on the pages should use a sans-serif font family.
    • The pages should be 1024 pixels wide, and be centered on the page, with equal margins 
      to the left and right.
*/
html {
    font-family: sans-serif;
    max-width: 1024px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

body {
    /* Attempt 2  kanske inte funkar att göra en grid i en grid. */
    display: grid;
    /*/grid-template-areas: "1fr" "1fr" "1fr" "1fr" "1fr"/ "1fr" "1fr" "1fr"; /*Skapar 5 rader / 3 kolumner i display:grid */
    /**/
    /*Test 1, grid-template*/
    /*grid-template-areas: "a a a"
        "b b b"
        "c c c"
        "d d d"; /*Skapar 4 rader / 3 kolumner i display:grid *
     /**/
    /*Test 2, grid-template*/
    /*Brist på förklaringar online*/
     grid-template: [header-left] "head head head"  [header-right]
                    [main-left]   "main main aside"   [main-right]
                    [footer-left] "foot foot foot"  [footer-right]
                    / 120px 1fr;
    /* Attempt 1
    width: 1024px;*/
    background-color: darkorange;
}
    /*Failed attempt 3 , jag tror att det bara kommer göra två separata grid i varje istället för en gemensam*/
    body  header, main {
        /*display: grid;
        grid-template-areas: "1fr" "1fr" "1fr" "1fr" "1fr"/ "1fr" "1fr" "1fr"; /*Skapar 5 rader / 3 kolumner i display:grid */
    }

/*  Attempt 2  kanske inte funkar att försöka göra en grid i en grid
body > header.header{
    grid-area: 1 / 1 / 5 /2;

}*/
/* Attempt 3
body > header.header{
    grid-area: 1 / 1 / 2 / 2;
}*/

header { /*Skapa ramar för header-elementen så man kan se vad vad man gör och vad som pågår*/
         grid-area: head;
    display: grid;                          /*Grid skapar förutsättning för ett rutnät*/
    /*grid-template-columns: auto auto auto;  /*Konfigurerar rutnätet grid i kolumner, 3 auto ger 3 kolumner*/
    grid-gap: 10px;                         /*Bestämmer avståndet mellan kolumnerna i rutnätet*/
    padding: 10px;                          /*Sätter avståndet i ramen runt containern 'header' */
    background-color: Blue;                 /*Header backgrund blir blå*/
}

    header > ul {               /* enbart barnet 'ul' till föräldern 'header' som påverkas och inte barnbarn.*/
        display: flex;          /*Ordnar innehållet i containern 'ul' på en rad*/
        list-style: none;       /*Tar bort punkteringen för en osorterad lista*/
        justify-content: left;  /*Vänsterjustera vågrätt innehållet i containern ul*/
        align-items: center;    /*Centrera lodrätt innehållet i containerna ul*/
        margin: 0;              /*Tar bort marginalen som är yttersta lagret för containern*/
        padding: 0px;           /*Tar bort padding som är lagret precis utanför innehållet för containern*/
    }

    header li {             /* alla <li> inuti en <header> påverkas (ättling) */
        display: flex;      /*Ordnar innehållet i containern 'li' på en rad */
        float: left;        /*Vänsterjustera 'li' i containern 'header' */
        padding-left: 20px; /*Varje 'li'-container får en vänster-padding */
    }

    header > li a {         /*enbart barnet 'li' till föräldern 'header' och <a> inuti <li>*/
        display: flex;      /*Ordnar innehållet i containern 'ul' på en rad */
        color: white;       /*Gör textfärgen vit*/
        padding-left: 20px; /*Varje 'a'-container får en vänster-padding (fast funkar inte just nu) */

        /*Överblivet från tidigare försök*/
        /*-------------------------------*/
        /*text-decoration: none;*/
    }

        /*Header rubrik*/
    header > h1 { /* alla <h1> inuti en <header> påverkas (ättling) */
        grid-area: 1 / 1 / 2 / 2;       /*grid: 5x3 , Placering Från Top Vänster (PFTP): 1,1 */
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
    }

        /*Header lista med länkar*/
    header > nav { /* alla <nav> inuti en <header> påverkas (ättling) */
        grid-area: 1 / 2 / 2 / 3;       /*grid: 5x3 , (PFTP): 1,2 */
        background-color: lightpink;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

        /*Header växla mellan Home och Login*/
    header > a { /* alla <a> inuti en <header> påverkas (ättling) */
        grid-area: 1 / 3 / 2 / 4;       /*grid: 5x3 , Placering: 1,3 */
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background-color: lawngreen;
        width: none;
    }

main { /*Skapar ramar så man ser vad som händer */
    grid-area: main;
    display: grid; /*Grid skapar förutsättning för ett rutnät*/
    grid-template-areas: "1fr" "1fr" "1fr" / "1fr" "1fr" "1fr"; /*Skapar grid med 3 rader / 3 kolumner inne i main */
    padding: 10px; /*Sätter avståndet i ramen runt containern 'main' */
    grid-gap: 10px;
    background-color: hotpink; /*Färga continern så man ser vad som händer.*/
}
    main * {
        background-color: yellow;
        
    }
    /*
    .h2-rubrik{
        grid-area: 1 / 1 / 2 / 2;
    }*/
    main > div.div { /*Rubriken <h2> och <p>*/
        /*grid-area: 2 / 1 / 3 / 2; /*grid: 5x3 , Placering: 2,1 */
        grid-area: 1 / 1 / 2 / 2;
    }

    /* Attempt 1
    main > h2 {
        grid-area: 1 / 1 / 2 / 2;       /*Placering på översta vänstra hörnet i 3x3 grid*/
        /*display: flex;
        justify-content: left;
        align-items:  normal;*/
        /*background-color: hotpink; /*För att se vad som är main > h1*//*
    }
    main > p {
        grid-area: 
        /*display: flex;*//*
        color: darkred;
        justify-content: left;
        align-items: normal;
        /*background-color: hotpink; /*Eftersom det hör ihop med main > h1*//*
    }
    */
    main > article.item3 {          /*Article 1:a */
        grid-area: 2 / 1 / 3 / 2;   /*Placering av första artikeln*/
    }
    main > article.item4 {          /*Article 2:a*/
        grid-area: 2 / 2 / 3 / 3;   /*Placering av andra artikeln*/
    }
    /*
    main > aside.asideClass{           /*Attempt 1*/ 
       /* grid-area: 1 / 3 / 4 / 4;*/
    }
    main > h2.h2_Login {
        background-color: cornflowerblue;
        text-transform: uppercase;
    }

    /*Failed attempt 3*/
    main > form{
        /*border: 100px;*/
    }

    /*Fungerar*/
    main > form.formClass { /*Designing the Login Form*/
        justify-self: center;
        border-radius: 25px;            /*Ger rundade hörn, cirkelcenter ligger 25px diagonalt från hörnen*/
        border: 5px solid black;        /*Betyder att login ramen blir svart och 5px tjock*/
        /*border: 2px solid thick;*/
        color: Blue;                    /*Betyder textfärg blå*/
        font-size: 25px;                /*Betyder att fonten tar upp 25px på längden och bredden*/
        font-weight: 500;               /*Bold-skala med siffror från 100 till 900, där 100 är tunnast ochh 900 tjockast, 400 anses normalstorlek*/
        padding: 20px;
        width: 200px;
        height: 150px;
        background-color: blueviolet;
    }

    main > form.formClass label
    /*Failed attempt 1 */
    main.mainLogin {
        /*justify-content:center;
        text-align:center;*/
    }
    /*Failed attempt 2 */
.resetButton {
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: yellow;
}
.signInButton {
    padding: 5px;
    border-radius: 20px;
    background-color: mediumaquamarine;
    color: black;
}

aside {
    /*grid-area: 1 / 3 / 4 / 4;*/
    background-color: chartreuse;
    justify-content: center;
    padding:10px;
}
aside *{
    background-color: yellow;
}
    aside ul {
        /*display: flex;*/
        
        list-style: none;
        justify-content: center;
        /*text-align:center;*/
    }    

    aside li {
        
    }
    /* Attempt 1 aside
.aside {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}*/
footer {
    grid-area: 5 / 1 / 6 / 4;
    justify-content:center;
    text-align:center;
    padding: 10px;
}
footer * {
    background-color: yellow;
}